<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style="text-align: center;">
                <div class="dropdown profile-element">
                    <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Example user</strong>
                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                        </span>
                    </a> -->
                    <img src="/assets/img/logo.png">
                    <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><%= link_to "Logout", user_login_path %></li>
                    </ul> -->
                </div>
                <div class="logo-element">
                    ES+
                </div>
            </li>
            <li class="<%= 'active' if is_active_controller('dashboard') %>">
                <%= link_to dashboard_workus_path do %>
                <i class="fa fa-th-large"></i> <span class="nav-label">Inicio</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('user') %>">
                <a href="#"><i class="fa fa-user-circle"></i> <span class="nav-label" data-i18n="nav.user">Mis datos</span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('user', 'in') %>">
                    <li class="<%= is_active_action('profile') %>"><%= link_to "Perfil", user_profileworkus_path %> </li>
                    <li class="<%= is_active_action('clients') %>"><%= link_to "Clientela", user_clientsworkus_path %> </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('getquote') %>">
                <%= link_to getquote_workus_path do %>
                <i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Citar</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('saleshistory') %>">
                <%= link_to saleshistory_workus_path do %>
                <i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.layouts">Estadísticas de ventas</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('endorsement') %>">
                <%= link_to endorsement_workus_path do %>
                <i class="fa fa-thumbs-o-up"></i> <span class="nav-label" data-i18n="nav.layouts">Aprobación</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('claim') %>">
                <%= link_to claim_workus_path do %>
                <i class="fa fa-paper-plane-o"></i> <span class="nav-label" data-i18n="nav.layouts">Reclamaciones</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('commission') %>">
                <%= link_to commission_workus_path do %>
                <i class="fa fa-newspaper-o"></i> <span class="nav-label" data-i18n="nav.layouts">Comisiones</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>